[Desktop Entry]
Version=1.0
Name=@NCPROJECT_NAME@
Comment=@NCPROJECT_DESCRIPTION@
TryExec=@NCPROJECT_EXE_NAME@
Exec=@NCPROJECT_EXE_NAME@
Icon=@NCPROJECT_NAME@
Terminal=false
Type=Application
Categories=Game;
