name: 'macOS'

env:
  LIBRARIES_BRANCH: libraries-OS-COMPILER
  DEPLOY_MESSAGE: |
    Push artifact from GitHub Actions build ${{ github.run_number }} with id ${{ github.run_id }}

    - nCine artifact from branch 'BRANCH_NAME' with commit id ${{ github.sha }}
  DEPLOY_BRANCH: nCine-BRANCH_NAME-OS-COMPILER

on: [push, workflow_dispatch]

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        BuildType: [Debug, Release, DevDist, LuaDist]
        os: [macOS-15, macOS-15-intel]

    runs-on: ${{ matrix.os }}

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Download nCine-libraries Artifacts and nCine-data'
      run: |
        if [[ "${{ matrix.os }}" == "macOS-15" ]]; then
          OS=macos15
        else
          OS=macos15-intel
        fi
        CC=appleclang

        LIBRARIES_BRANCH=`echo $LIBRARIES_BRANCH | sed 's/OS/'"$OS"'/'`
        LIBRARIES_BRANCH=`echo $LIBRARIES_BRANCH | sed 's/COMPILER/'"$CC"'/'`

        cd ..
        git clone https://github.com/nCine/nCine-libraries-artifacts.git
        cd nCine-libraries-artifacts
        git checkout $LIBRARIES_BRANCH
        LIBRARIES_FILE=$(ls -t | head -n 1) && tar xpzf $LIBRARIES_FILE
        mv nCine-external ..
        git checkout android-libraries-armeabi-v7a
        LIBRARIES_FILE=$(ls -t | head -n 1) && tar xpzf $LIBRARIES_FILE
        git checkout android-libraries-arm64-v8a
        LIBRARIES_FILE=$(ls -t | head -n 1) && tar xpzf $LIBRARIES_FILE
        git checkout android-libraries-x86_64
        LIBRARIES_FILE=$(ls -t | head -n 1) && tar xpzf $LIBRARIES_FILE
        mv nCine-android-external ..
        cd ..
        rm -rf nCine-libraries-artifacts

        git clone https://github.com/nCine/nCine-data.git

    - name: 'CMake Configuration, Make and Test'
      if: matrix.BuildType != 'DevDist' && matrix.BuildType != 'LuaDist'
      run: |
        CMAKE_ARGS="-B ../nCine-buildtests-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=${{ matrix.BuildType }} -D NCINE_OPTIONS_PRESETS=UnitTests"

        cmake $CMAKE_ARGS
        make -j $(getconf _NPROCESSORS_ONLN) -C ../nCine-buildtests-${{ matrix.BuildType }}
        cd ../nCine-buildtests-${{ matrix.BuildType }}
        ctest -j $(getconf _NPROCESSORS_ONLN) --build-config ${{ matrix.BuildType }} --output-on-failure

    - name: 'CMake Configuration'
      run: |
        if [[ "${{ matrix.BuildType }}" == "DevDist" || "${{ matrix.BuildType }}" == "LuaDist" ]]; then
          CMAKE_ARGS="-B ../nCine-build-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=Release -D NCINE_OPTIONS_PRESETS=${{ matrix.BuildType }} -D NDK_DIR=$ANDROID_NDK_LATEST_HOME"
        else
          CMAKE_ARGS="-B ../nCine-build-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=${{ matrix.BuildType }} -D NCINE_BUILD_BENCHMARKS=ON -D NCINE_WITH_TRACY=ON"
        fi

        cmake $CMAKE_ARGS

    - name: 'Make'
      run: |
        make -j $(getconf _NPROCESSORS_ONLN) -C ../nCine-build-${{ matrix.BuildType }}

    - name: 'Package'
      if: matrix.BuildType == 'DevDist' || matrix.BuildType == 'LuaDist'
      run: |
        make package -C ../nCine-build-${{ matrix.BuildType }}

    - name: 'Prepare GitHub Actions Artifact'
      if: matrix.BuildType == 'DevDist' || matrix.BuildType == 'LuaDist'
      run: |
        cd ../nCine-build-${{ matrix.BuildType }}/

        echo -e "include(CPackConfig.cmake)\nexecute_process(COMMAND \${CMAKE_COMMAND} -E echo_append \"\${CPACK_PACKAGE_FILE_NAME}\")" > package_file_name.cmake
        PACKAGE_FILE_NAME=$(cmake -P package_file_name.cmake)
        PACKAGE_EXT=dmg
        PACKAGE="$PACKAGE_FILE_NAME.$PACKAGE_EXT"

        # Generate a JSON manifest file
        MANIFEST="manifest.json"
        [ "${{ matrix.BuildType }}" = "LuaDist" ] && MANIFEST="manifestLua.json"

        SIZE=$(stat -f %z "$PACKAGE")
        MTIME_EPOCH=$(stat -f %m "$PACKAGE")
        MTIME_ISO=$(date -u -r "$MTIME_EPOCH" +"%Y-%m-%dT%H:%M:%SZ")
        SHA256=$(shasum -a 256 "$PACKAGE" | awk '{print $1}')

        cat > "$MANIFEST" <<EOF
        {
          "filename": "$PACKAGE",
          "size": $SIZE,
          "timestamp": "$MTIME_ISO",
          "sha256": "$SHA256",
          "git_revision": "$GITHUB_SHA"
        }
        EOF

        ARTIFACTS_DIR="$GITHUB_WORKSPACE/nCine-job-artifacts"
        mkdir -p $ARTIFACTS_DIR
        cp -p $PACKAGE $ARTIFACTS_DIR
        cp -p $MANIFEST $ARTIFACTS_DIR

        echo "Contents of the nCine-job-artifacts directory:"
        ls -l $ARTIFACTS_DIR
        echo "Contents of the manifest file:"
        cat $MANIFEST

    - name: 'Upload GitHub Actions Artifact'
      if: matrix.BuildType == 'DevDist' || matrix.BuildType == 'LuaDist'
      uses: actions/upload-artifact@v4
      with:
        name: nCine-job-artifacts-${{ matrix.os }}-${{ matrix.BuildType }}
        path: nCine-job-artifacts/*

  Artifacts:
    needs: Build
    strategy:
      fail-fast: false
      matrix:
        BuildType: [DevDist, LuaDist]
        os: [macOS-15, macOS-15-intel]

    runs-on: ${{ matrix.os }}

    concurrency:
        group: artifacts-${{ matrix.os }}-appleclang
        cancel-in-progress: false

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Unshallow Git Repository for Versioning'
      run: |
        git fetch --unshallow || true

    - name: 'Download GitHub Actions Artifact'
      uses: actions/download-artifact@v4
      with:
        name: nCine-job-artifacts-${{ matrix.os }}-${{ matrix.BuildType }}
        path: nCine-job-artifacts

    - name: 'Push Artifacts'
      env:
        PUBLIC_REPO_TOKEN: ${{ secrets.PUBLIC_REPO_TOKEN }}
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"

        BRANCH_NAME=$(git describe --tags --exact-match 2> /dev/null || git symbolic-ref -q --short HEAD || git rev-parse --short HEAD)
        DEPLOY_MESSAGE=`sed 's/BRANCH_NAME/'"$BRANCH_NAME"'/' <<< "$DEPLOY_MESSAGE"`

        if [[ "${{ matrix.os }}" == "macOS-15" ]]; then
          OS=macos15
        else
          OS=macos15-intel
        fi
        CC=appleclang

        cd nCine-job-artifacts
        MANIFEST=$(ls manifest*.json)
        PACKAGE=$(jq -r '.filename' "$MANIFEST")
        PACKAGE_NAME=$(basename "$PACKAGE" | sed "s/-.*//")
        PACKAGE_EXT="${PACKAGE##*.}"

        cd ..
        DEPLOY_BRANCH=`echo $DEPLOY_BRANCH | sed 's/BRANCH_NAME/'"$BRANCH_NAME"'/'`
        DEPLOY_BRANCH=`echo $DEPLOY_BRANCH | sed 's/OS/'"$OS"'/'`
        DEPLOY_BRANCH=`echo $DEPLOY_BRANCH | sed 's/COMPILER/'"$CC"'/'`
        git clone https://$PUBLIC_REPO_TOKEN@github.com/nCine/nCine-artifacts.git >/dev/null 2>&1

        cd nCine-artifacts
        git checkout $DEPLOY_BRANCH || git checkout --orphan $DEPLOY_BRANCH
        git reset
        git clean -f
        git rm $PACKAGE_NAME-*.$PACKAGE_EXT || true
        mv -f ../nCine-job-artifacts/$MANIFEST .
        mv -f ../nCine-job-artifacts/$PACKAGE .

        git add $MANIFEST $PACKAGE
        git commit --amend -m "$DEPLOY_MESSAGE" || git commit -m "$DEPLOY_MESSAGE"
        git push --force || git push --set-upstream origin $DEPLOY_BRANCH
