name: 'MinGW'

env:
  LIBRARIES_BRANCH: libraries-OS-COMPILER
  DEPLOY_MESSAGE: |
    Push artifact from GitHub Actions build ${{ github.run_number }} with id ${{ github.run_id }}

    - nCine artifact from branch 'BRANCH_NAME' with commit id ${{ github.sha }}
  DEPLOY_BRANCH: nCine-BRANCH_NAME-OS-COMPILER

on: [push, workflow_dispatch]

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        BuildType: [Debug, Release, DevDist, LuaDist]
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            CC: gcc
            CXX: g++
          - compiler: clang
            CC: clang
            CXX: clang++

    runs-on: 'windows-2022'
    env:
      MSYSTEM: MINGW64

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Update MSYS2'
      run: |
        C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -Syyuu'
        C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -Syyuu'

    - name: 'Install Build Dependencies'
      run: |
        C:\msys64\usr\bin\bash -lc 'pacman --needed --noconfirm -S mingw-w64-x86_64-cmake make patch'

        if ("${{ matrix.CC }}" -eq "gcc") { C:\msys64\usr\bin\bash -lc 'pacman --needed --noconfirm -S mingw-w64-x86_64-gcc' }
        else { C:\msys64\usr\bin\bash -lc 'pacman --needed --noconfirm -S mingw-w64-x86_64-clang' }

        C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -Scc'

    - name: 'Download nCine-libraries Artifacts and nCine-data'
      run: |
        $env:GIT_REDIRECT_STDERR = '2>&1'
        $compiler = "${{ matrix.CC }}"

        cd ..
        git clone https://github.com/nCine/nCine-libraries-artifacts.git
        cd nCine-libraries-artifacts

        $env:LIBRARIES_BRANCH = $env:LIBRARIES_BRANCH -creplace "OS","mingw64" -creplace "COMPILER",$compiler
        git checkout $env:LIBRARIES_BRANCH
        $libraries_file = Get-ChildItem -Path $(pwd) -Name -File | Select-Object -First 1
        7z x $libraries_file

        Move-Item -Path nCine-external -Destination ..

        git checkout android-libraries-armeabi-v7a
        $libraries_file = Get-ChildItem -Path $(pwd) -Filter *.gz -Name -File | Select-Object -First 1
        7z x $libraries_file
        $libraries_file = $libraries_file -replace ".gz",""
        7z x $libraries_file -aos

        git checkout android-libraries-arm64-v8a
        $libraries_file = Get-ChildItem -Path $(pwd) -Filter *.gz -Name -File | Select-Object -First 1
        7z x $libraries_file
        $libraries_file = $libraries_file -replace ".gz",""
        7z x $libraries_file -aos

        git checkout android-libraries-x86_64
        $libraries_file = Get-ChildItem -Path $(pwd) -Filter *.gz -Name -File | Select-Object -First 1
        7z x $libraries_file
        $libraries_file = $libraries_file -replace ".gz",""
        7z x $libraries_file -aos

        Move-Item -Path nCine-android-external -Destination ..
        cd ..
        Remove-Item nCine-libraries-artifacts -Recurse -Force

        git clone https://github.com/nCine/nCine-data.git

    - name: 'Download RenderDoc API Header'
      if: matrix.BuildType != 'DevDist' && matrix.BuildType != 'LuaDist'
      run: |
        mkdir ..\RenderDoc
        cd ..\RenderDoc
        curl -fsSL https://raw.githubusercontent.com/baldurk/renderdoc/v1.x/renderdoc/api/app/renderdoc_app.h -o renderdoc_app.h

    - name: 'CMake Configuration, Make and Test'
      if: matrix.BuildType != 'DevDist' && matrix.BuildType != 'LuaDist'
      env:
        CHERE_INVOKING: on
      run: |
        $env:CC = "${{ matrix.CC }}"
        $env:CXX = "${{ matrix.CXX }}"

        C:\msys64\usr\bin\bash.exe -lc "cmake -G 'MSYS Makefiles' -B ../nCine-buildtests-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=${{ matrix.BuildType }} -D NCINE_OPTIONS_PRESETS=UnitTests -D CMAKE_PREFIX_PATH=$(cygpath -m $PWD/../nCine-external)"
        C:\msys64\usr\bin\bash.exe -lc 'make -j $NUMBER_OF_PROCESSORS -C ../nCine-buildtests-${{ matrix.BuildType }}'
        cd ..\nCine-buildtests-${{ matrix.BuildType }}
        C:\msys64\usr\bin\bash.exe -lc 'ctest -j $NUMBER_OF_PROCESSORS --build-config ${{ matrix.BuildType }} --output-on-failure'

    - name: 'CMake Configuration'
      env:
        CHERE_INVOKING: on
      run: |
        $env:CC = "${{ matrix.CC }}"
        $env:CXX = "${{ matrix.CXX }}"

        $EnableTracy = 'ON'
        if ("${{ matrix.CC }}" -eq "clang")
          { $EnableTracy = 'OFF' }

        if ("${{ matrix.BuildType }}" -eq "DevDist" -Or "${{ matrix.BuildType }}" -eq "LuaDist")
          { C:\msys64\usr\bin\bash.exe -lc "cmake -G 'MSYS Makefiles' -B ../nCine-build-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=Release -D NCINE_OPTIONS_PRESETS=${{ matrix.BuildType }} -D NDK_DIR=$(cygpath -m $ANDROID_NDK_LATEST_HOME) -D CMAKE_PREFIX_PATH=$(cygpath -m $PWD/../nCine-external)" }
        else
          # Disable benchmarks building to avoid "error: enumeration value 'CacheUnknown' not handled in switch [-Werror=switch]" in sysinfo.cc
          { C:\msys64\usr\bin\bash.exe -lc "cmake -G 'MSYS Makefiles' -B ../nCine-build-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=${{ matrix.BuildType }} -D NCINE_BUILD_BENCHMARKS=OFF -D NCINE_WITH_TRACY=$EnableTracy -D NCINE_WITH_RENDERDOC=ON -D RENDERDOC_DIR=$(cygpath -m $PWD/../RenderDoc) -D CMAKE_PREFIX_PATH=$(cygpath -m $PWD/../nCine-external)" }

    - name: 'Make'
      env:
        CHERE_INVOKING: on
      run: |
        C:\msys64\usr\bin\bash.exe -lc 'make -j $NUMBER_OF_PROCESSORS -C ../nCine-build-${{ matrix.BuildType }}'

    - name: 'Package'
      if: matrix.BuildType == 'DevDist' || matrix.BuildType == 'LuaDist'
      env:
        CHERE_INVOKING: on
      run: |
        C:\msys64\usr\bin\bash.exe -lc 'make package -C ../nCine-build-${{ matrix.BuildType }}'

    - name: 'Prepare GitHub Actions Artifact'
      if: matrix.BuildType == 'DevDist' || matrix.BuildType == 'LuaDist'
      run: |
        cd ../nCine-build-${{ matrix.BuildType }}/

        Set-Content -Path package_file_name.cmake -Value 'include(CPackConfig.cmake)','execute_process(COMMAND ${CMAKE_COMMAND} -E echo_append "${CPACK_PACKAGE_FILE_NAME}")'
        $package_file_name = cmake -P package_file_name.cmake
        $package_ext = "tar.gz"
        $package = "$package_file_name.$package_ext"

        # Generate a JSON manifest file
        $manifest = "manifest.json"
        if ("${{ matrix.BuildType }}" -eq "LuaDist") {
          $manifest = "manifestLua.json"
        }

        $packageInfo = Get-Item $package
        $packageHash = (Get-FileHash -Algorithm SHA256 -Path $package).Hash.ToLower()

        $manifestObj = [ordered]@{
          filename = $package
          size     = $packageInfo.Length
          timestamp = $packageInfo.LastWriteTimeUtc.ToString("yyyy-MM-ddTHH:mm:ssZ")
          sha256   = $packageHash
          git_revision = $env:GITHUB_SHA
        }

        $manifestObj |
          ConvertTo-Json -Depth 4 |
          Set-Content -Encoding UTF8 $manifest

        $artifactsDir = Join-Path $env:GITHUB_WORKSPACE 'nCine-job-artifacts'
        New-Item -ItemType Directory -Force $artifactsDir | Out-Null
        Copy-Item $package $artifactsDir -Force
        Copy-Item $manifest $artifactsDir -Force

        Write-Host "Contents of the nCine-job-artifacts directory:"
        Get-ChildItem $artifactsDir
        Write-Host "Contents of the manifest file:"
        Get-Content $manifest -Raw

    - name: 'Upload GitHub Actions Artifact'
      if: matrix.BuildType == 'DevDist' || matrix.BuildType == 'LuaDist'
      uses: actions/upload-artifact@v4
      with:
        name: nCine-job-artifacts-${{ matrix.BuildType }}-${{ matrix.compiler }}
        path: nCine-job-artifacts/*

  Artifacts:
    needs: Build
    strategy:
      fail-fast: false
      matrix:
        BuildType: [DevDist, LuaDist]
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            CC: gcc
            CXX: g++
          - compiler: clang
            CC: clang
            CXX: clang++

    runs-on: 'windows-2022'
    env:
      MSYSTEM: MINGW64

    concurrency:
        group: artifacts-mingw64-${{ matrix.compiler }}
        cancel-in-progress: false

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Unshallow Git Repository for Versioning'
      run: |
        $env:GIT_REDIRECT_STDERR = '2>&1'
        git fetch --unshallow; if (-not $?) { return }

    - name: 'Download GitHub Actions Artifact'
      uses: actions/download-artifact@v4
      with:
        name: nCine-job-artifacts-${{ matrix.BuildType }}-${{ matrix.compiler }}
        path: nCine-job-artifacts

    - name: 'Push Artifacts'
      env:
        PUBLIC_REPO_TOKEN: ${{ secrets.PUBLIC_REPO_TOKEN }}
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        $env:GIT_REDIRECT_STDERR = '2>&1'

        $branch_name = git describe --tags --exact-match; if (-not $?) { $branch_name = git symbolic-ref -q --short HEAD }; if (-not $?) { $branch_name = git rev-parse --short HEAD }
        $env:DEPLOY_MESSAGE = $env:DEPLOY_MESSAGE -creplace "BRANCH_NAME",$branch_name

        $CC = "${{ matrix.CC }}"
        $env:DEPLOY_BRANCH = $env:DEPLOY_BRANCH -creplace "BRANCH_NAME",$branch_name
        $env:DEPLOY_BRANCH = $env:DEPLOY_BRANCH -creplace "OS","mingw64" -creplace "COMPILER",$CC

        cd nCine-job-artifacts
        $manifest = Get-ChildItem -Filter 'manifest*.json' -Name | Select-Object -First 1
        $json = Get-Content $manifest -Raw | ConvertFrom-Json
        $package = $json.filename
        $package_name = ($package -replace '-.*$', '')
        $package_ext = [System.IO.Path]::GetExtension($package).TrimStart('.')

        cd ..
        git clone https://$env:PUBLIC_REPO_TOKEN@github.com/nCine/nCine-artifacts.git 2>&1>$null

        cd nCine-artifacts
        git checkout $env:DEPLOY_BRANCH; if (-not $?) { git checkout --orphan $env:DEPLOY_BRANCH }
        git reset
        git clean -f
        git rm "$package_name-*.$package_ext"
        Move-Item -Path ..\nCine-job-artifacts\$manifest -Destination . -Force
        Move-Item -Path ..\nCine-job-artifacts\$package -Destination .

        git add $manifest "$package"
        git commit --amend -m "$env:DEPLOY_MESSAGE"; if (-not $?) { git commit -m "$env:DEPLOY_MESSAGE" }
        git push --force; if (-not $?) { git push --set-upstream origin $env:DEPLOY_BRANCH }
